<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  <head>
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
    {{ partial "head.html" . }}
  </head>
  <body>
    <header>
    {{ block "header" . }}
      {{ if .IsHome }}
      <h1>{{ .Title }}</h1>
      {{ else if .Page.Parent.IsHome}}
      <h1>{{ .Title }}</h1>
      {{ else if .Page.Parent }}
      <h1>{{ .Page.Parent.Title }}</h1>
      {{ end }}
    {{ end }}
    {{ if .Page.Parent }}
      <a id="back-arrow" aria-label="Go back" href="{{ .Parent.Permalink }}"><-</a>
    {{ end }}
    </header>
    <main>
      {{ block "main" . }} {{ end }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
