/* Variable declaration */
:root {
  --background-color: #e5e7eb;
  --text-color: black;
  --text-accent-color: #2a6ac2;
  --subtle-color: #dadada;

  --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --body-padding: 12em 0 0 0;

  --text-font-size-sm: 0.75rem;
  --text-font-size: 1rem;
  --text-font-size-lg: 2.25rem;

  --text-line-height-sm: 1rem;
  --text-line-height: 1.75rem;
  --text-line-height-lg: 2.5rem;
}

/* Animations */
@keyframes fadeInFromTop {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Variable responsiveness */
@media screen and (max-width: 35.5em) {
  :root {
    --body-padding: 4em 1em 0;

    --text-font-size-sm: 0.5rem;
    --text-font-size: 0.875rem;
    --text-font-size-lg: 2rem;

    --text-line-height-sm: 0.75rem;
    --text-line-height: 1.5rem;
    --text-line-height-lg: 2.25rem;
  }
}

/* Global styles */
* {
  background-color: var(--background-color);
  color: var(--text-color);

  margin: 0;
  border-width: 0;
  box-sizing: border-box;

  font-weight: 300;
}

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: var(--font-family);
}

/* Element styles */
body {
  padding: var(--body-padding);
}

main {
  margin-bottom: 2rem;
  animation: fadeInFromTop 400ms;
}

header {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 3rem 0;
}

header > h1 {
  position: relative;
  z-index: 0;
  margin: 0;
}

header > h1::before {
  content: "";
  position: absolute;
  left: -0.5rem;
  bottom: -0.25rem;
  width: 2.5rem;
  height: 100%;
  transform: skew(-20deg);
  background: var(--subtle-color);
  z-index: -1;
}

footer {
  padding: 1rem;
  border-top-width: 1px;
  border-color: var(--subtle-color);
  border-style: solid;
}

hr {
  border-top-width: 1px;
  border-color: var(--subtle-color);
  border-style: solid;
  margin: 1em 0 2em;
}

h1 {
  font-size: var(--text-font-size-lg);
  line-height: var(--text-line-height-lg);

  margin: 0 0 1em 0;
}

p,
ol,
ul {
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  margin-bottom: 1rem;
}

em,
small {
  font-size: var(--text-font-size-sm);
  line-height: var(--text-line-height-sm);
  color: var(--text-accent-color);
}

a {
  color: var(--text-accent-color);
  text-decoration: underline var(--subtle-color);
  transition: text-decoration 300ms ease;
}

a:hover {
  text-decoration: underline inherit;
  text-decoration-color: inherit;
}

img {
  background-color: unset;
}

dl > dt:not(:last-child) {
  margin-bottom: 2rem;
}

/* Pseudo-tag styles for markdown */
p > code {
  background-color: var(--subtle-color);

  font-size: var(--text-font-size-sm);
  color: var(--text-accent-color);

  padding: 0.25rem;
  border-radius: 0.2rem;
}

/* Custom classes */
.text-accent {
  color: var(--text-accent-color);
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.center {
  align-items: center;
  align-content: center;
}

.italic {
  font-style: italic;
}

.anchor {
  position: relative;
}

.anchor a:hover::before {
  position: absolute;
  left: -0.75em;
  content: "#";
  color: var(--text-accent-color);
}

/* Printing specific styles */
@media print {
  :root {
    --body-padding: 2em 0;
  }

  header,
  footer {
    display: none !important;
  }

  h1 {
    font-size: 1.25em;
  }

  h2 {
    font-size: 1em;
  }

  p,
  ol,
  ul {
    font-size: 0.75em;
    line-height: 1em;
  }

  em,
  small {
    font-size: 0.65em;
  }

  p > code {
    background-color: unset;
    font-style: italic;
    padding: 0;
  }

  p > code:not(:last-child):after {
    content: ",";
  }

  hr:first-of-type {
    page-break-after: always;
  }
}
