<div class="flex col center">
  <div class="flex center">
    <a
      href="https://github.com/marc-mrt/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="social-img"
        src="/images/GitHub-Mark-Light-64px.png"
        alt="GitHub"
        border="0"
        width="16px"
        height="16px"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/marc-morant-dev/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="social-img"
        src="/images/In-White-72@2x.png"
        alt="LinkedIn"
        border="0"
        width="16px"
        height="16px"
      />
    </a>
  </div>
  <small>{{ now.Format "2006.1.2" }}</small>
</div>
